body{
    background-color: red;
}
@media (min-width: 576.98px) {
    body {
        background-color: orange;
        color: black;
    }
    
}

@media (min-width: 767.98px) {
    body {  
        background-color: yellow;
        color: black;
    }
    
}

@media (min-width: 991.98px) {
    body {
        background-color: green;
        color: black;
    }
    
}
@media (min-width: 1199.98px) {
    body {
        background-color: blue;
        color: white;
    
}
@media (min-width: 1400px) {
    body {
        background-color: indigo;
        color: white;
    }
    
}